.Random{
	text-align: left;
	padding: 0px 0px 0px 10px;
	margin: 0px 0px 0px 0px;
	border: 2px;
	border-style: solid;	
	border-color: ff0000;

}
/*This is the score keeper*/
.counter{
	text-align: left;
	border: 2px;
	border-style: solid;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 10px;
	border-color: ff0000;

}
/*This is formatting for the pictures*/
.pictures{
	/*width: 175px;*/
	margin: 5px 5px 0px 5px;
	padding: 0px 0px 0px 0px;
	border: 2px;
	border-color: red;
	border-style: solid;
	align-content: center;
}

.gold{
	/*width: 230px;
	height: 320px;*/
	margin: 5px 5px 0px 5px;
	padding: 0px 0px 0px 0px;
	border-color: red;
	border-style: solid;
}
/*Formatting for the user score*/
.score{
	text-align: left;
	border: 2px;
	border-style: solid;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 59px 10px;
	border-color: ff0000;
	background-color: grey;
}

.darkscore{
	text-align: left;
	font-size: 34px;
	border: 2px;
	border-style: solid;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 59px 35px;
	border-color: ff0000;
	background-color: grey;
}

.userscore{

}


#purple{

}
#turq{

}
#gold{

}
#rose{

}

.footer{
	text-align: center;
	font-size: 30px;
	background-color: grey;
	margin: 15px 0px 0px 0px;
}